<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<!-- by Name -->

 <bean id="e1" class="beans.Engine">
  <property name="modelyear" value="2015" />
 </bean>

  <bean id="e2" class="beans.Engine"  autowire-candidate="false" >
  <property name="modelyear" value="2016" />
 </bean>
 
  <bean id="engine" class="beans.Engine" autowire-candidate="false">
  <property name="modelyear" value="2015" />
 </bean>
 

 <bean id="c" class="beans.Car" autowire="byName">
  <!-- //  in case of manual DI what we dohere is as below is not required when we apply autowire -->
    <!-- <property name="engine" ref="e1"/> -->
</bean>

</beans>
